input[type=button] {
  background-color: green;
}

#logo {
  position: relative;
  left:20%;
}

#logotext {
  font-family: comic sans ms;
  font-weight: bold;
  color: green;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 44px;
  position: absolute;
  top: 25%;
  left: 5%;
}

#logindiv{
  position: fixed;
  left:30%;
}

* {
  font-family: verdana;
}