<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title> Sandman </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="header">
        <button onclick="location.href = '/home';" id="home">Home</button>
        <button onclick="location.href = '/remove-employee';" id="remove-employee"> Fire Employee </button>
        <button onclick="location.href = '/add-employee';" id="add-employee"> Add Employee </button>
        <button onclick="location.href = '/all-employees';" id="manager"> Employer Tools </button>
        <button onclick="location.href = '/scheduler';" id="scheduler"> Create Schedule </button>
        <button onclick="location.href = '/logout';" id="signout">Sign Out</button>
      </div>

  <div id="logindiv">
    <form action="" method="post">
      <p>Username</p>
      <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
      <p>Name</p>
      <input type="text" placeholder="Name" name="name" value="{{ request.form.name }}">
      <p>Password</p>
      <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
      <p>Manager</p>
      <select name="manager" value="{{ request.form.manager }}">
          <option value="True">True</option>
          <option value="False">False</option>
      </select>
      <p></p>
    	<input class="btn btn-default" type="submit" value="addEmployee">
    </form>
  </div>
</body>  
</html>

