<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandman</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div id="header">
    <button id="clockin">Clock in/Clock out</button>
    <button id="reqtimeoff">Request Time off</button>
    <button id="checkhours">Check hours</button>
    <button id="manager"> Employer Tools </button>
    <button id="signout">Sign Out</button>
  </div>
  
  <!--Month/year top of calendar--> 
  <h1 id="monthtitle" align="center">
   {{ month.month }} {{ month.year }}
  </h1>
  <br />
  
<table id="calendar" bgcolor="#fbff84" align="center" 
        cellspacing="0" cellpadding="30">
  
  <caption align="top">
    
    </caption>
  
  <thead>
     <tr bgcolor="#fa9020">
         <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
     </tr>
	</thead>
        <tbody>
          {% for week in month.cal %}
            <tr>
              {% for day in week %}
                <td> {{day}} </td>
              {% endfor %}
       			</tr>
          {% endfor %}
        </tbody>
    </table>
  
  
      
</body> 