<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandman</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<h1>
		
	</h1>
  <div id="logo">
    <h2 id="logotext">SANDMAN</h2>
    <img src="https://365psd.com/images/istock/previews/2778/27785708-time-is-money-hourglass.jpg">
    
  </div>
  <div id="logindiv">
    <form id="loginform">
      <p>Username</p>
      <input type="text" value="Username">
      <p>Password</p>
      <input type="text" value="Password">
      <p></p>
    	<input type="button" onclick="" value="Employee Login">
    </form>
  </div>
</body>  
</html>