<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title> Sandman </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div id="logo">
    <h2 id="logotext">SANDMAN</h2>
    <img src="https://media3.giphy.com/media/xT9IgOdxEm8gYoJblC/200w.webp?cid=ecf05e477nh1bdak69xwa3cyzbcn40kbovsqju2mquztzpge&rid=200w.webp&ct=g">
    
  </div>
  <div id="logindiv">
    <form id="loginform">
      <p>Username</p>
      <input type="text" value="Username">
      <p>Password</p>
      <input type="text" value="Password">
      <p></p>
    	<input type="button" onclick="location.href = '/home';" value="Employee Login">
    </form>
  </div>
</body>  
</html>

