<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandman</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div id="header">
    <button onclick="location.href = '/home';" id="home">Home</button>
    <button onclick="location.href = '/remove-employee';" id="remove-employee"> Fire Employee </button>
    <button onclick="location.href = '/add-employee';" id="add-employee"> Add Employee </button>
    <button onclick="location.href = '/all-employees';" id="manager"> Employer Tools </button>
    <button onclick="location.href = '/scheduler';" id="scheduler"> Create Schedule </button>
    <button onclick="location.href = '/logout';" id="signout">Sign Out</button>
  </div>
  
  <!--Month/year top of calendar--> 
  <h1 id="monthtitle" align="center">
   Click the Employee to Fire
  </h1>
  <br />
  
<table id="calendar" bgcolor="#fbff84" align="center" 
        cellspacing="0" cellpadding="30">
  
  <caption align="top">
    
    </caption>
  
  <thead>
     <tr bgcolor="#fa9020">
        <th>Username</th>
        <th>Name</th>
        <th>Manager</th>
     </tr>
	</thead>
        <tbody>
          {% for user in users %}
            <tr onclick="location.href = '/remove/' + {{ user.id }};">
                    <td> {{user.user_id}} </td>
                    <td> {{user.name}} </td>
                    <td> {{user.manager}} </td>
       		</tr>
          {% endfor %}
        </tbody>
    </table>
  
  
      
</body> 