<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title> Sandman </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="header">
      <button onclick="location.href = '/home';" id="home">Home</button>
      <button onclick="location.href = '/clock-in';" id="home">Clock In</button>
      <button onclick="location.href = '/clock-out';" id="home">Clock Out</button>
      <button onclick="location.href = '/request-time';" id="reqtimeoff">Request Time off</button>
      <button onclick="location.href = '/check-hours';">Check hours</button>
      <button onclick="location.href = '/all-employees';" id="manager"> Employer Tools </button>
      <button onclick="location.href = '/logout';" id="signout">Sign Out</button>
    </div>

  <div id="logindiv">
    <form action="" method="post">
      <p>Request Time Off Start</p>
      <input type="date" placeholder="Request Time Off Start" name="start" value="{{ request.form.username }}">
      <p>Request Time Off End</p>
      <input type="date" placeholder="RTOE" name="end" value="{{ request.form.password }}">
      <p></p>
    	<input class="btn btn-default" type="submit" value="Submit">
    </form>
  </div>
</body>  
</html>

